<div class="listBody">
<ul >
  <% @chapters.sort.reverse.each do |chapter| %>
    <li >
      <div class="listContent" style="border:2px solid black;margin-bottom:2vw;">

        <br />

        <div>Previous Chapter Record: <%= Chapter.where(path1_id: chapter.pathPrev_id).or(Chapter.where(path2_id: chapter.pathPrev_id)).inspect %></div>
        <br />
        <br />

        <div>Current Chapter ID: <%= chapter.id %></div>
        
        <div>ID: <%= chapter.id %></div>

        <div>Name: <%= chapter.name %></div>
        <div>Email: <%= chapter.email %></div>
        <br />
        <div>Path1: <%= chapter.paths.first.content %></div>
        <br />
        <div>Path2: <%= chapter.paths.last.content %></div>
        <br />
        <div>Email: <%= chapter.email %></div>

        <div><%= chapter.content %></div>

      </div>
      <div class="listButton">

        <%= button_to "Delete", chapter_path(chapter.id),method: :delete, class: "deleteButton btn btn-primary", data: { confirm: "Make sure the user has navigated to the HOMEPAGE and hits REFRESH before you press ok!!!!"} %>
      </div>
    </li>

  <% end %>
</ul>

</div>


