

<div id="newChapterBodyWrapper">
<div id="newChapterBody">

  <div class="newChapterContentForm">
    <div class="prevPath">
      <%= @usedPath.content  %>
    </div>

    <%= form_for(@chapter) do |f| %>
      <% if @chapter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

          <ul>
          <% @chapter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="newChapterNameEmail">
        <div class="newChapterName">
          <%= f.text_field :name, placeholder: "Name",:required => true %>
        </div>
        <div class="newChapterEmail">
          <%= f.text_field :email, placeholder: "Email"  %>
        </div>
        <div class="newChapterMessage">
          We'll send you a link to the finished story, not spam.
        </div>
      </div>

      <div class="newChapterContent clearfix">
        <%= f.text_area :content, placeholder: "Begin the next chapter here...", :required => true  %>
      </div>
      
    <%= f.fields_for :plots do |p| %>
      <%= render partial:'path_fields', locals:{ p: p} %>
    <% end %>
<<<<<<< HEAD


     <%= hidden_field_tag 'chapter[:pathPrev_id]', @usedPath.id %>

      <div class="goChapterButtonWrapper">
        <%= f.button "Go!", class: "goChapterButton" %>
=======


      <div class="goChapterButtonWrapper">
        <%= f.button "Go!", name:"pathPrev_id", value: @chapter.pathPrev_id, class: "goChapterButton" %>
>>>>>>> reformatting
      </div>
    <% end %>
  </div>
</div>
</div>
