<div id="newChapterBody">

  <div class="newChapterContentForm">
    <p>
      <%= Path.find(@chapter.pathPrev_id).content  %>
    </p>

    <%= form_for(@chapter) do |f| %>
      <% if @chapter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

          <ul>
          <% @chapter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="newChapterNameEmail">
        <div class="newChapterName">
          <%= f.text_field :name, placeholder: "Name",:required => true %>
        </div>
        <div class="newChapterEmail">
          <%= f.text_field :email, placeholder: "Email"  %>
        </div>
        <div class="newChapterMessage">
          We'll send you a link to the finished story, not spam.
        </div>
      </div>

      <div class="newChapterContent clearfix">
        <%= f.text_area :content, placeholder: "Begin to answer here...", :required => true ,maxlength: 500  %>
      </div>

      <%= f.fields_for :plot do |p| %>
      
        <%= p.fields_for (Path.create) do |pa| %>
          <div class="newChapterContentPath1 clearfix">    
            <%= text_area_tag 'chapter[plots][paths][path1content]', pa.object.content, placeholder: "Chapter choice 1",:required => true,maxlength: 100  %>
            <%= hidden_field_tag 'chapter[plots][paths][path1id]', pa.object.id %>
           
          </div> 
        <% end %>
          <%= p.fields_for (Path.create) do |pa| %>
          <div class="newChapterContentPath2 clearfix">
            <%= text_area_tag 'chapter[plots][paths][path2content]', pa.object.content, placeholder: "Chapter choice 2", :required => true,maxlength: 100  %>
            <%= hidden_field_tag 'chapter[plots][paths][path2id]', pa.object.id %>
          </div> 
        
        <% end %>

      <% end %>

     <%= hidden_field_tag 'chapter[:pathPrev]', @usedPath.id %>

      <div class="newChapterButtonWrapper">
        <%= f.button "GO!", name:"pathPrev", value: @chapter.pathPrev_id, class: "newChapterButton" %>
      </div>
    <% end %>
  </div>
</div>
