<div id="showBodyWrapper">
<%  @f = @chapter.paths.find( @chapter.path1_id) %>
<%  @y = @chapter.paths.find( @chapter.path2_id) %>

  <div class="showBody">
      <div class="showChapterContent">
        <%= simple_format(@chapter.content) %>
      </div>

    <% if @referrer.to_s =~ /\/chapters\/new/  %>

       <div class="showPagePathContentRedirect">
         <%= @f.content %>
        </div>

        <div class="showPagePathContentRedirect">
         <%= @y.content %>
        </div>

     <div class="homeButtonWrapper">
        <div class="homeButton">
          <%= link_to 'Home', chapter_path('index') %> 
        </div>
      </div>

    <% else %>


      <% if not @f.used %>
          <div class="showPagePathContentWrapper">

            <div class="showPagePathContent">
              <%=@f.content %>
            </div>

            <div class="newChapterButtonWrapper">
              <div class="newChapterButton">
                <%= link_to 'Go!', new_chapter_path(:id => @chapter.path1_id, chapter_id: @chapter.id) %>
              </div>
            </div>
          </div>
      <% else %>
            <div class="showPagePathContentWrapper">
              <div class="showPagePathContent">
                <%= @f.content %>
              </div>
              
              
              <div class="keepGoingButtonWrapper">
                 <div class="keepGoingButton">
                    <%= link_to 'Next', chapter_path(:id => Chapter.find_by(pathPrev_id: @f.id), path_id:@chapter.path1_id, chapter_id: @chapter.id) %> 
                 </div>
              </div>
            </div>

      <%end%>
      <% if not @y.used %>
            <div class="showPagePathContentWrapper">
              <div class="showPagePathContent">
                <%=@y.content %>
              </div>
              <div class="newChapterButtonWrapper">
                <div class="newChapterButton">
                  <%= link_to 'Go!', new_chapter_path(:id => @chapter.path2_id, chapter_id: @chapter.id) %>
                </div>
              </div>
            </div>
      <% else %>
            <div class="showPagePathContentWrapper">

              <div class="showPagePathContent">
                <%=@y.content %>
              </div>

               <div class="keepGoingButtonWrapper">
                 <div class="keepGoingButton">
                    <%= link_to 'Next', chapter_path(:id => Chapter.find_by(pathPrev_id: @y.id), path_id:@chapter.path2_id, chapter_id: @chapter.id) %> 
                 </div>
              </div>
            </div>

      <% end %>

    <% end %>

  

  </div>
</div>

