<div id="showBodyWrapper">


  <div class="showBody">
      <div class="showChapterContent">
        <%= simple_format(@chapter.content) %>
      </div>

    <% if @referrer.to_s =~ /\/chapters\/new/  %>

       <div class="showPagePathContentRedirect">
         <%= @path1.content %>
        </div>

        <div class="showPagePathContentRedirect">
         <%= @path2.content %>
        </div>

     <div class="homeButtonWrapper">
        <div class="homeButton">
          <%= link_to 'Ok!', chapter_path('index') %> 
        </div>
      </div>

    <% else %>


      <% if not @path1.used %>
          <div class="showPagePathContentWrapper">

            <div class="showPagePathContent">
              <%=@path1.content %>
            </div>

            <div class="newChapterButtonWrapper">
              <div class="newChapterButton">
                <%= link_to 'Go!', new_chapter_path(:path_id => @chapter.path1_id, chapter_id: @chapter.id) %>
              </div>
            </div>
          </div>
      <% else %>
            <div class="showPagePathContentWrapper">
              <div class="showPagePathContent">
                <%= @path1.content %>
              </div>
              
              
              <div class="keepGoingButtonWrapper">
                 <div class="keepGoingButton">
                    <%= link_to 'Next', chapter_path(:id => Chapter.find_by(pathPrev_id: @path1.id), path_id:@chapter.path1_id, chapter_id: @chapter.id) %> 
                 </div>
              </div>
            </div>

      <%end%>
      <% if not @path2.used %>
            <div class="showPagePathContentWrapper">
              <div class="showPagePathContent">
                <%=@path2.content %>
              </div>
              <div class="newChapterButtonWrapper">
                <div class="newChapterButton">
                  <%= link_to 'Go!', new_chapter_path(:path_id => @chapter.path2_id, chapter_id: @chapter.id) %>
                </div>
              </div>
            </div>
      <% else %>
            <div class="showPagePathContentWrapper">

              <div class="showPagePathContent">
                <%=@path2.content %>
              </div>

               <div class="keepGoingButtonWrapper">
                 <div class="keepGoingButton">
                    <%= link_to 'Next', chapter_path(:id => Chapter.find_by(pathPrev_id: @path2.id), path_id:@chapter.path2_id, chapter_id: @chapter.id) %> 
                 </div>
              </div>
            </div>

      <% end %>

    <% end %>

  

  </div>
</div>

