<% @ps = @chapter.paths %>

<% @p1 = @chapter.path1_id %>
<% @p2 = @chapter.path2_id %>


<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>
 

<p>
  <strong>Email:</strong>
  <%= @chapter.email %>
</p>


<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>


 <strong>Path2-Content:</strong>
  <% @f = @chapter.paths.find( @p1).content %>
<%= link_to @f, chapter_path('new') %>

</p>

<p>
  <strong>Path2-Content:</strong>
  <%  @y = @chapter.paths.find( @p2).content %>

	<%= link_to @y, chapter_path('new') %> 
	<!-- add write of this path to chapter -->

</p>


  <%= link_to 'home', chapter_path('index') %> 
