
<%= @chapter.inspect %>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>
 

<p>
  <strong>Email:</strong>
  <%= @chapter.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>



<%  @f = @chapter.paths.find( @chapter.path1_id) %>
<%  @y = @chapter.paths.find( @chapter.path2_id) %>
<% if not @f.used %>
    <p>
     <strong>Path2-Content:</strong>
      
      <%= link_to @f.content, {:action => "new", id:@chapter.path1_id, chapter_id: @chapter.id}%>

    </p>

<% else %>

  <p>
     <strong>Path2-Content:</strong>
      <%= link_to @f.content, chapter_path(:id => Chapter.find_by(pathPrev_id: 3), path_id:@chapter.path2_id, chapter_id: @chapter.id) %> 
      
    </p>
    <p>

<%end%>
<% if not @y.used %>
      <strong>Path2-Content:</strong>
      
      <%= link_to @y.content, {:action => "new", id:@chapter.path2_id, chapter_id: @chapter.id} %> 
    </p>
<% else %>
    <p>
      <strong>Path2-Content:</strong>
      <%= link_to @y.content, chapter_path(:id => Chapter.find_by(pathPrev_id: 3), path_id:@chapter.path2_id, chapter_id: @chapter.id) %> 
     
    </p>


<% end %>

  <%= link_to 'home', chapter_path('index') %> 
