<% @ps = @chapter.paths %>

<% @p1 = @chapter.path1_id %>
<% @p2 = @chapter.path1_id %>


<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>
 

<p>
  <strong>Email:</strong>
  <%= @chapter.email %>
</p>


<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>

<p>
  <strong>Path1:</strong>
  <%= @chapter.paths.find( @p1).content %>
</p>
 <strong>Path2-Content:</strong>
  <%= @chapter.paths.find( @p2).content %>

</p>
<p>
  <strong>Path2:</strong>

</p>
<p>
  <strong>Path2-Content:</strong>
  <%= @chapter.paths.find( @p2).content %>

</p>
