<!DOCTYPE html>
<html>
  <head>
    <title>WandererApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<style type="text/css">
  #showBodyWrapper,#newChapterBody{
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
</style>
   
  </head>
  <body>
    <%= yield %>
  </body>
 

</html>
